<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.treehole.dao.DataMapper">

    <select id="selectUserByPhone" parameterType="String" resultType="User">
        SELECT * FROM User
        WHERE phone=#{1}
    </select>

    <select id="selectUserByPhonePassword" parameterType="String" resultType="User">
        SELECT * FROM User
        WHERE phone = #{phone} AND password = #{password}
    </select>

    <select id="getUserByConditionIf" parameterType="User" resultType="User">
        SELECT * FROM User
        <where>
            <if test="id!=0">
                id=#{id}
            </if>
            <if test="user_name!=null">
                AND user_name=#{user_name}
            </if>
            <if test="phone!=null">
                AND phone=#{phone}
            </if>
            <if test="password!=null">
                AND password=#{password}
            </if>
        </where>
    </select>

    <select id="getMessageByConditionIf" parameterType="Message" resultType="Message">
        SELECT * FROM Message
        <where>
            <if test="id!=0">
                id=#{id}
            </if>
            <if test="user_id!=0">
                AND user_id=#{user_id}
            </if>
        </where>
    </select>

    <insert id="insertOneUser" parameterType="String">
        INSERT INTO User(id, user_name, phone, password, face_url)
        VALUES (0,#{user_name},#{phone},#{password},#{face_url})
    </insert>

    <insert id="insertOneMessage" parameterType="Message">
        INSERT INTO Message(id, user_id, user_name, face_url, content, total_likes, send_timestamp)
        VALUES (0, #{user_id}, #{user_name}, #{face_url}, #{content},
        #{total_likes}, #{send_timestamp})
    </insert>

    <delete id="deleteOneMessage" parameterType="Message">
        DELETE FROM Message
        <where>
            <if test="id!=0">
                id=#{id}
            </if>
            <if test="user_id!=0">
                AND user_id=#{user_id}
            </if>
        </where>
    </delete>

    <select id="getAllMessage" resultType="Message" parameterType="String">
        SELECT * FROM message
    </select>

    <update id="updateTotalLike" parameterType="int">
        UPDATE Message SET total_likes = total_likes+1
        WHERE id=#{message_id}
    </update>

</mapper>